@media (min-width: 1024px){ 
 /*NAVBAR RESPONSIVE*/ 
.container-navbar {
  padding: 35px;
}

.navbar-inner {
  max-width: 1200px;
}

.list-link-navbar {
  flex-direction: row;
  gap: 40px;
}


.link-navbar a {
  font-size: 1.5rem;
}

 /*ABOUT RESPONSIVE*/ 

.about-inner {
  max-width: 1200px;
}

.title-about {
  font-size: 2.2rem;
  margin-bottom: 40px;
}

.description-about {
  font-size: 1.5rem;
}

.about-bottom-front,
.about-bottom-front-spec,
.about-bottom-back,
.about-bottom-back-spec {
  margin-bottom: 60px;
}

.title-skills {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.span-skill {
  font-size: 1.3rem;
}

.box-about{
  max-width: 1200px;
  margin: 100px auto;
}


/*HERO STYLE*/
.container-hero{
  max-width: 1200px;
  padding-top: 170px;
  gap: 80px;
}


.container-hero-info p{
  font-size: 1.5rem;
}


 /*INTERACTIVE STYLE*/
  .container-interactive {
    gap: 40px;
    max-width: 1200px; 
  }

  .container-card-interactive,
  .container-card-interactive-dark {
    flex: 0 0 calc(50% - 20px);
    min-height: 400px;
    justify-content: space-between;
  }

  

  .container-logic-1 p,
  .container-logic-2 p,
  .container-logic-1 h3,
  .container-logic-2 h3 {
    font-size: 1.5rem;
  }

  .container-logic-interactive-top p,
  .container-logic-interactive-bottom p,
  .container-logic-interactive-top h3,
  .container-logic-interactive-bottom h3 {
    font-size: 1.5rem;
  }
  .phrase-p {
    font-size: 1.2rem;
  }

  .container-logic-interactive-bottom{
  min-width: 600px;
  max-width: 1200px;
}

.p-interactive{
  max-width: 1200px; 
}

.title-interactive {
  width: 100%;     
  text-align: center; 
  font-size: 2.2rem;
}



/*PROJECTS STYLE*/

.container-projects-page{
  max-width: 1400px;
}
.container-projects{
  flex-direction: row;
  flex-wrap: wrap;
}

.container-single-project{
 width: calc(100% / 2 - 15px);
}

.container-single-project p,
.container-single-project h4{
  font-size: 1.3rem;
}

.project-top{
  height: 350px;
}

.project-top img{
  height: 350px;
  width: 100%;
}


/*FOOTER STYLE*/
.container-footer {
  max-width: 1200px;
}



.container-contacts{
  max-width: 1200px;
}


.container-info{
  max-width: 800px;
}

.container-platforms{
  max-width: 400px;
}
.title-contact {
  font-size: 2.2rem;
}

a[href^="tel:"],
a[href^="mailto:"] {
  font-size: 1.2rem;
}

.container-platforms a.a-contact {
  font-size: 1.2rem;
}


}