@media (min-width: 768px){

/*NAVBAR RESPONSIVE*/ 
.container-navbar {
  padding: 30px;
}

.navbar-inner {
  max-width: 740px;
}

.list-link-navbar {
  flex-direction: row;
  gap: 30px;
}


.link-navbar a {
  font-size: 1.3rem;
}

 /*ABOUT RESPONSIVE*/ 
.container-about {
  padding-top: 150px;
}
#about {
  scroll-margin-top: 150px; 
}


.title-about {
  font-size: 2.0rem;
  margin-bottom: 30px;
}

.description-about {
  font-size: 1.2rem;
}

.about-bottom-front,
.about-bottom-front-spec,
.about-bottom-back,
.about-bottom-back-spec {
  margin-bottom: 45px;
}

.title-skills {
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.span-skill {
  font-size: 1.2rem;
}

.box-about{
  max-width: 740px;
  margin: 90px auto;
}

/*HERO STYLE*/
.container-hero{
  flex-direction: row;
  justify-content: space-between;
  max-width: 740px;
  text-align: left;
  padding-top: 150px;
  gap: 70px;
}

.container-img-hero img {
  width: 200px;
  margin-bottom: 0px;
}




.container-hero-info{
  align-items: flex-start;
}

.container-hero-info p{
  font-size: 1.2rem;
}

.btn-hero{
  border-radius: 10px;
  padding: 15px;
}



  
}