@media (min-width: 768px){


.container-navbar {
  padding: 30px;
}

.navbar-inner {
  max-width: 740px;
}

.list-link-navbar {
  flex-direction: row;
  gap: 30px;
}


.link-navbar a {
  font-size: 1.3rem;
}
  
}