@media (min-width: 1024px) {

  /*NAVBAR RESPONSIVE*/

  .list-link-navbar {
    gap: 50px;
  }

  .list-link-navbar.open {
    display: flex;
  }

  .link-navbar a {
    font-size: 1.4rem;
  }

  .link-navbar a:hover {
    color: rgb(16, 10, 65);
  }

  /*ABOUT RESPONSIVE*/
.container-profile{
  max-width: 1200px;
}

.title-profile{
  font-size: 2rem;
}



.description-about{
  font-size: 1.2rem;
}

.container-all-about{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.figure-certificate{
  padding: 10px;
  background-color: white;
  width: 400px;
  height: auto;
  margin-top: 40px;
}

.img-certificate{
 width: 100%;
 height: 100%;
 border-radius: 10px;
}

.container-all-stack{
justify-content: space-between;
gap: 100px;
}



.li-stack{
  padding: 12px;
  font-size: 1.1rem;
}






  /*HERO STYLE*/
  .container-hero {
    max-width: 1200px;
    padding-top: 170px;
    gap: 80px;
  }


  .container-hero-info p {
    font-size: 1.2rem;
    margin: 0;
  }

  .btn-hero {
    margin-bottom: 0;
    margin-top: 20px;
  }


  /*INTERACTIVE STYLE*/
  .container-interactive {
    gap: 20px;
    max-width: 1200px;
    padding: 20px;
  }

  .container-card-interactive,
  .container-card-interactive-dark {
    flex: 0 0 calc(50% - 20px);
    min-height: 400px;
    justify-content: space-between;
  }





  .container-logic-interactive-top p,
  .container-logic-interactive-bottom p,
  .container-logic-interactive-top h3,
  .container-logic-interactive-bottom h3 {
    font-size: 1.5rem;
  }

  .phrase-p {
    font-size: 1.2rem;
  }

  .container-logic-interactive-bottom {
    min-width: 600px;
    max-width: 1200px;
  }

  .p-interactive {
    max-width: 1200px;
    font-size: 1.2rem;
  }

  .title-interactive {
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }

  .input-weather {
    max-width: 800px;
  }

  .figure-nasa {
    width: 390px;
    height: 290px;
  }

  .cloud-icon {
  width: 120px;
  height: 120px;
}

.weather-placeholder-text {
  font-size: 1.2rem;
}

.info-nasa-title{
  font-size: 1.2rem;
}

.info-nasa-p{
  font-size: 1.2rem;
}






/*PROJECTS STYLE*/
.container-projects {
  gap: 25px;
  max-width: 1200px;
  padding: 20px;
}

.top-bar-code{
padding: 10px;
border-radius: 25px;
}

.top-bar-code,
.top-bar-code span {
  font-size: 1.4rem;
}


.title-projects {
  font-size: 2rem;
}

.description-projects {
  font-size: 1.3rem;
}
.container-cards-project{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}
/*STYLE SINGLE-PROJECT*/
.container-single-project {
  width: 48%;
}


.title-single-project{
  font-size: 1.6rem;
}

.container-semititle-state{
  gap: 70px;
}

.semi-title{
font-size: 1.3rem;
}

.p-state,
.p-state span{
  font-size: 1.2rem;
}

.description-single-project{
  font-size: 1.2rem;
}


.li-project{
padding: 10px;
border-radius: 30px;
font-size: 1rem;

}
.container-buttons-project{
margin-top: auto; 
}



.btn-project-git{
font-size: 1.2rem;
}


.btn-project-link{
font-size: 1.2rem;
}





/*CONTACT-FORM RESPONSIVE*/
.container-contact-form{
  padding: 20px;
  max-width: 1200px;
}

.contact-form{

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  background-color: #4763DF26;
  border-radius: 15px;
}

.form-group{
  width: 48%;
}

.form-group-full{
  width: 100%;
}




.label-form{
font-size: 1.3rem;
}


.input-form,
.textarea-form{
  font-size: 1.3rem;
}

.input-form,
.textarea-form::placeholder{
font-size: 1.3rem;
}



.input-form-error{
  font-size: 1.3rem;
}


.btn-form{
font-size: 1.3rem;
}

.span-form{
  font-size: 1.3rem;
}


/*BOX THANKYOU FORM STYLE*/
.container-thankyou-message {
  min-height: 500px;
  max-width: 1200px;
}

.container-thankyou-info {
  max-width: 1000px;
}

.title-thankyou {
  font-size: 2rem;
}

.p-thankyou {
  font-size: 1.4rem;
}


  /*FOOTER STYLE*/
  .container-footer {
    max-width: 1200px;
  }



  .container-contacts {
    max-width: 1200px;
  }


  .container-info {
    max-width: 800px;
  }

  .container-platforms {
    max-width: 400px;
  }



  a[href^="tel:"],
  a[href^="mailto:"] {
    font-size: 1.2rem;
  }

  .container-platforms a.a-contact {
    font-size: 1.2rem;
  }

  .description-footer {
    font-size: 1.2rem;
  }


}